{% extends 'learning_logs/base.html' %}

{% block content %}

        <p>Todo</p>

                 <ul>
                        {% for todos in todo %}
                        <li>
				<p>{{ todos.topic }}</p>
				<p>{{ todos.text }}</p>
				<p>{{ todos.date_added|date:'M d, Y H:i'}}</p>
                        </li>
                        {% empty %}
                                <li>Nothing to do.</li>
                        {% endfor %}
                </ul>
<a href="{% url 'learning_logs:new_todo' %}">Add a new task</a>
{% endblock content %}
